%h1 New Achievement
= simple_form_for @achievement do |f|
  = f.input :title
  = f.input :tescription
  = f.input :privacy, collection: Hash[Achievement.privacies.map{|key, value| [key.split('_').first.capitalize, key]}]
  = f.input :featured, label: 'Featured achievement'
  = f.input :conver_image, as: :file
  = f.submit 'Create Achievement', class: 'btn btn-primary'

  
  
